{
    "parser": "babel-eslint",
    "env": {
        "es6":true,
        "browser": true,
        "node":true
    },
    "rules":{
        "semi":"off",
        "require-jsdoc":"off",
        "quotes":"off",
        "indent":"off",
        "linebreak-style":"off",
        "object-curly-spacing":"off",
        "eol-last":"off",
        "comma-dangle":"off",
        "arrow-parens":"off",
        "comma-spacing":"off",
        "space-before-blocks":"off",
        "no-undef":"off"
    },
    "extends":["eslint:recommended", "google"]
}